body.active_admin.logged_in {
  padding-top: 50px;

  @media screen and (min-width: $sm-width) {
    padding-top: 60px;
  }

  @media screen and (min-width: $lg-width) {
    padding-left: $header-width;
  }

  @media screen and (min-width: $x-lg-width) {
    padding-left: $lg-header-width;
  }

  #active_admin_content {
    padding: 20px 0;
    @include clear-fix();

    @media screen and (min-width: $lg-width) {
      padding: 20px 25px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* Maintain a consistent height across all devices */
  background-color: $header-background;
  border-bottom: 1px solid $header-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  
  .site_title {
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    background-color: $header-background;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-left: 50px; /* Padding to push logo right of the menu icon */

    @media screen and (min-width: $sm-width) {
      width: $header-width;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
    }

    @media screen and (min-width: $x-lg-width) {
      width: $lg-header-width;
    }
  }
}

#title_bar {
  background-color: #fff;
  @include box-shadow($box-shadow);
  margin: 15px 0 0 0;
  padding: 8px 10px;
  @include clear-fix();

  @media screen and (min-width: $lg-width) {
    padding: 8px 20px;
    border-radius: $border-radius;
    margin: 15px 25px 0 25px;
  }

  #titlebar_left {
    display: inline-block;
    float: left;
    line-height: 29px;

    h2 {
      display: inline-block;
      font-size: 16px;
    }
  }

  #titlebar_right {
    display: inline-block;
    float: right;

    .action_item a {
      @include primary-button($button-primary-color, #fff);
      padding: 5px 8px;
    }
  }

  #page_title {
    font-weight: normal;
    margin: 0;
  }
}
